{% comment %}
#
#   Liquid variables are created at the top to keep the source DRY and clean.
#   Idea by ericcarlisle.com
#
#   Variables › {{ url }} › site.url + site.baseurl
#   Variables › {{ description }} › excerpt, page.meta_description, or site.description
#   Variables › {{ title }} › page.title
#
{% endcomment %}{% capture ignore %}

{% assign url = site.baseurl %}

{% capture description %}{% if page.meta_description %}{{ page.meta_description }}{% elsif page.teaser %}{{ page.teaser }}{% elsif page.excerpt %}{{ page.excerpt }}{% elsif site.description %}{{ site.description }}{% endif %}{% endcapture %}
{% assign description = description | strip_html | escape | strip %}

{% capture title %}
	{% if page.meta_title %}
		{{ page.meta_title}} | {{site.title}}
	{% elsif page.title && page.title != site.title %}
		{{ page.title }} | {{site.title}}
	{% else %}
		{{ site.title | strip_html | strip }}
	{% endif %}
{% endcapture %}

{% assign title = title | strip_html | escape | strip_newlines %}

{% endcapture %}<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>

  <link rel="stylesheet" type="text/css" href="{{ url }}/assets/css/styles_feeling_responsive.css">

	<script src="{{ url }}/assets/js/modernizr.min.js"></script>
	<!-- Search Engine Optimization -->
	<meta name="description" content="{{ description }}">
		{% if page.noindex == true or layout.noindex == true %}<meta name="robots" content="noindex">{% endif %}
	<link rel="canonical" href="{{ url }}{{ page.url }}">


	<!-- Facebook Open Graph -->
	<meta property="og:title" content="{{ title }}">
	<meta property="og:description" content="{{ description }}">
	<meta property="og:url" content="{{ url }}{{ page.url }}">
	<meta property="og:locale" content="{% if site.og_locale == nil %}en_EN{% else %}{{ site.og_locale }}{% endif %}">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="{{ site.title }}">
	{% if page.image.title %}<meta property="og:image" content="{{ site.urlimg }}{{ page.image.title }}">{% endif %}
	{% if site.og_image %}<meta property="og:image" content="{{ site.og_image }}">{% endif %}
	{% if site.socialmedia.facebook %}<meta property="article:author" content="https://www.facebook.com/{{ site.socialmedia.facebook }}">{% endif %}


	{% if site.socialmedia.twitter %}
	<!-- Twitter -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="{{ site.socialmedia.twitter }}">
	<meta name="twitter:creator" content="{{ site.socialmedia.twitter }}">
	<meta name="twitter:title" content="{{ title }}">
	<meta name="twitter:description" content="{{ description }}">
	{% if page.image.title %}<meta name="twitter:image" content="{{ site.urlimg }}{{ page.image.title }}">{% endif %}
	{% endif %}

	<link type="text/plain" rel="author" href="{{ url}}/humans.txt">

	<script src="https://cdn.chandi.it/jquery/3.2.1/jquery.min.js"></script>
	{% if page.mediaplayer == true %}
		<script src="{{ url }}/assets/mediaelement_js/mediaelement-and-player.min.js"></script>
		<link rel="stylesheet" href="{{ url }}/assets/mediaelement_js/mediaelementplayer.min.css">
	{% endif %}

	<link rel="icon" sizes="32x32" href="{{ site.baseurl }}/favicon-32x32.png">

	{% unless page.style == NULL %}
	<style type="text/css">{{ page.style }}</style>
	{% endunless %}

	<link rel="stylesheet" href="https://cdn.chandi.it/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.chandi.it/c/fonts/volkhov-regular.css">
	<link rel="stylesheet" href="https://cdn.chandi.it/c/fonts/lato-regular.css">
	<link rel="stylesheet" href="https://cdn.chandi.it/blueimp-gallery/2.25.0/css/blueimp-gallery.min.css">
	<script src="https://cdn.chandi.it/blueimp-gallery/2.25.0/js/blueimp-gallery.min.js"></script>
