.top-bar {
    height: 3.1rem; // because font size slightly changed
}
@media only screen and (min-width: 64.063em) {
  .top-bar-section li.active:not(.has-form) a:not(.button) {
    height: 3.1rem;
  }
}
h1 {
  color: $primary-color;
}
.team {
  margin-top: 0.5em;
  li {
    display: inline-block;
    list-style-type: none;
    // float: left;
    // display: block;
    width: 7em;
    text-align: center;
    margin-right: 2em;
    margin-bottom: 2em;
  }
  .picture {
    height: 7em;
    width: 7em;
    background-size: cover;
    border-radius: 3.5em;
  }
  .name {
    font-weight: bold;
  }
  a {
    border: none;
  }
}

.motive {
  text-align: center;
  div.icon {
    display: inline-block;
    color: white;
    font-size: 3em;
    height: 1.8em;
    width: 1.8em;
    padding-top:0.13em;
    background-color: $primary-color;
    border-radius: 50%;
  }
  h3 {
    margin-top: 0.5em;
  }
  p {
    font-size: 0.8em;
  }
}
.companies {
  margin-top: 0.5em;
  li {
    display: inline-block;
    list-style-type: none;
    // float: left;
    // display: block;
    width: 7em;
    text-align: center;
    margin-right: 2em;
    margin-bottom: 2em;
  }
  img {
    max-height: 80%;
  }
  a, a:hover {
    border: none;
  }
}

input[type="submit"] {
  background-color: $primary-color;
  color: white;
  border: none;
  padding: 0.3em 1em ;
}
.center {
  text-align: center;
}

#masthead, .backstretch {
  background-color: #65544b;
}
