---
#
# Use the widgets beneath and the content will be
# inserted automagically in the webpage. To make
# this work, you have to use › layout: frontpage
#
layout: page-fullwidth
header:
  image_fullwidth: banner.jpg
permalink: /index.html
homepage: true
teaser: "Ein Raum des Austausches, der Reflexion und Ideenschmiede"
bodyclass: center
---
### Neuste Neuigkeiten
Die Anmedldung ist geschlossen!
<p> Danke an die wundervollen Organisator*innen der fünf alwizukos 2017 und allen, die diese mitgestalten!
Hier sind die ersten Einblicke: </p>
 <br />
{% gallery 2017 %}

<div class="row" style="font-size:0.8em ">
    <div class="columns small-1"></div>
    <div class="columns small-2">
        <h3>Bonn</h3>
        <p>28.12. - 01.01</p>
    </div>
    <div class="columns small-2">
        <h3>Bremen</h3>
        <p>30.12. - 03.01</p>
    </div>
    <div class="columns small-2">
        <h3>Eltville</h3>
        <p>26.12. - 02.01</p>
    </div>
    <div class="columns small-2">
        <h3>Roitzsch</h3>
        <p>29.12. - 04.01</p>
    </div>
    <div class="columns small-2">
        <h3>Mönchengladbach</h3>
        <p>15.01. - 19.01</p>
    </div>
   <div class="columns small-1"></div>
</div>

Gemeinsam gestalten wir einen Mitmachraum zur Reflexion des vergangen Jahres und als Ideenschmiede für das kommende Jahr.<br />
Wir möchten das Jahr in Ruhe ausklingen lassen, um gleichzeitig Motivation zu schöpfen mit welcher wir neue Projekte und Aktionen durchführen können.<br />
Wir möchten auch in Frage stellen, ob es einen bestimmten Tag im Jahr geben muss, den wir besonders feiern und uns große Vorsätze ausdenken, oder ob wir diese Fragen, Ideen und Lebensfreude nicht jeden Tag leben können.



<div class="row motive" style="margin-top:3em">
  <div class="small-4 large-4 columns">
    <div class="icon"><i class="fa fa-location-arrow"></i></div>
    <h3>Reflexion</h3>
    <p>Das alwizuko möchte vor allem auch ein safe-space zur eigenen und gemeinsamen Reflexion des vergangenen Jahres sein, um sich über eigene Lernprozesse bewusst zu werden. Zentrale Fragestellungen hierzu können sein: Was habe ich dieses Jahr gelernt? Für welche Momente bin ich dankbar?</p>
  </div>
  <div class="small-4 large-4 columns">
    <div class="icon"><i class="fa fa-comments-o"></i></div>
    <h3>Austausch</h3>
    <p>Wir alle haben unzählige Talente, Erfahrungen und Ideen. Dadurch werden Workshops zu verschiedensten Themen zusammen kommen, die den gemeinsamen Raum strukturieren. So können wir die Wissen und Gedanken, die im Raum sind verwenden und Themen aus unterschiedlichen Perspektiven beleuchten.</p>
  </div>
  <div class="small-4 large-4 columns">
    <div class="icon"><i class="fa fa-rocket"></i></div>
    <h3>Ideenschmiede</h3>
    <p>Durch eine Wanderung in Stille näherten wir uns letztes Jahr Fragen zu unserem Lebensweg an. Was liegt für mich nächstes Jahr an? Welche Schritte darf ich dafür gehen? Der darauf folgende Austausch mit anderen Menschen über Visionen, Ideen und Ziele bringt oft mehr Klarheit sowie neue Inspiration und zeigt bisher unbeleuchtete Perspektiven.</p>
  </div>
</div>

## Impressionen
{% gallery impressionen %}


## Wann, Wo & Wie?
Wann?
Meistens finden alwizukos am Ende des Jahres für 5-7 Tage statt. Ein möglicher Zeitraum wäre also 27.12. - 02.01.

Wo und Wie?
Die nächsten alwizukos wird es im Winter 2018 geben. Wir freuen uns schon darauf!


<!-- Wenn Du ein alwizuko bei dir vor Ort organisieren und verwirklichen möchtest, schreib uns an:
[kontakt@alwizuko.de](mailto:kontakt@alwizuko.de)

Du möchtest dich für ein Alwizuko anmelden?<br />
 <a href="/anmeldung.html" class="button small radius next">Zur Anmeldung</a> -->



## Ein Projekt von living utopia
living utopia ist ein Projekt- und Aktionsnetzwerk, welches Mitmachräume für den gesellschaftlichen Wandel nach den begleitenden Motiven:
<div class="row motive">
  <div class="small-3 large-3 columns">
    <div class="icon" style="background-color:#ca7979"><i class="fa fa-heart"></i></div>
    <h3><a href="http://livingutopia.org/vegan/" style="color:#333">vegan</a></h3>
  </div>
  <div class="small-3 large-3 columns">
    <div class="icon" style="background-color:#98b990"><i class="fa fa-leaf"></i></div>
    <h3><a href="http://livingutopia.org/oekologisch/" style="color:#333">ökologisch</a></h3>
  </div>
  <div class="small-3 large-3 columns">
    <div class="icon" style="background-color:#bd9bb9"><i class="fa fa-certificate"></i></div>
    <h3><a href="http://livingutopia.org/geldfrei/" style="color:#333">geldfrei</a></h3>
  </div>
  <div class="small-3 large-3 columns">
    <div class="icon" style="background-color:#8ab9c7"><i class="fa fa-globe"></i></div>
    <h3><a href="http://livingutopia.org/solidarisch/" style="color:#333">solidarisch</a></h3>
  </div>
</div>
<p>&nbsp;</p>

Du magst mehr Infos zu living utopia?<br />
<a href="http://livingutopia.org" class="button small radius next">klick hier drauf</a>
